<mt:setvarblock name="page_title"><__trans phrase="Store archive paths" /></mt:setvarblock>
<mt:setvar name="position_actions_bottom" value="1">

<mt:include name="include/header.tmpl">

<p><__trans phrase="Storing...Done"></p>

<p><__trans phrase="Please back to your dashboard."></p>

<mt:include name="include/footer.tmpl">